.nav-link:hover {
  color: #4daade;
  background: #4daade;
}

.nav-link:focus {
  color: #ffffff;
  background: #4daade;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#navbar {
  overflow-y: auto;
}

body {
}

.count {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background-color: #181818;
  font-size: 24px;
  font-weight: bold;
}

